.timer_body {
    background-image: url("../images/timer.jpg");
    font-family: 'Open Sans', sans-serif;
}

.timer_clock {
    margin-top: 200px;
    font-size: 90px;
    text-align: center;
    color: white;
}

.timer_btns {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.timer_btn,
.timer_btn_stop,
.timer_btn_save {
    border: 1px solid rgba(255,255,255,.9);
    background: transparent;
    cursor: pointer;
    color: rgba(255,255,255,.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    animation: fadeIn .2s linear;
}
