.todo_body {
    background-image: url("../images/todo.jpg");
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}


/* todo form */
.todo-form-wrap {
    margin-top: 230px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-form-text {
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.todo-input {
    border: none;
    background: rgba(255, 255, 255, .85);
    border-radius: 30px;
    width: 35%;
    padding: 15px;
    font-size: 17px;
    color: #434343;
    text-align: center;
}

.todo-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgba(255,255,255,0.85);
    margin-top: 60px;
    font-size: 30px;
}

/* todo list */
.todo-list-wrap {
    margin-top: 80px;
    margin-bottom: 50px;
}

.todo-list-container {
    padding: 0;
}

.todo-list-container li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-container li button {
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.todo-list-container li span {
    font-size: 14px;
    color: white;
}