.weather_body {
    background-image: url("../images/weather.jpg");
    font-family: 'Open Sans', sans-serif;
}

.weather_wrap {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn .5s linear;
}

.weather_place {
    font-size: 50px;
    color: white;
}

.weather_description {
    color: white;
    margin-top: 10px;
}

.weather_temp_wrap {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.weather_temp {
    font-size: 70px;
    color: white;
    margin-top: 20px;
    font-weight: 100;
}

.weather_temp_min,
.weather_temp_max {
    color: white;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;
}

.temp_min_text,
.temp_max_text {
    font-size: 15px;
}